body{
margin:0;
display:flex;
justify-content:center;
padding:30px;
background:#f5f7fb;
}



/*===============*/

.certificate-container{
position:relative;
width:1000px;
height:auto;
margin:auto;
flex-shrink:0;
}

body{
overflow-x:auto;
}

.certificate-template{
width:100%;
display:block;
}

#employee-name{
position:absolute;
top:277px;
left:52%;
transform:translateX(-50%);
font-size:36px;
font-weight:700;
color:#0b67c2;
margin:0;
}

#course-name{
position:absolute;
top:378px;
left:50%;
transform:translateX(-50%);
font-size:34px;
font-weight:700;
margin:0;
}

#certificate-date{
position:absolute;
top: 523px;
left:61%;
transform:translateX(-50%);
font-size:27px;
margin:0;
}


body{
display:flex;
flex-direction:column;
align-items:center;
}

.certificate-actions{
margin-top:20px;
text-align:center;
width:100%;
}

.certificate-actions button{
background:#0b67c2;
color:white;
border:none;
padding:14px 28px;
border-radius:8px;
cursor:pointer;
font-size:16px;
font-weight:600;
width:auto;
}

.certificate-actions{
    text-align:center;
    margin:20px 0 40px;
}

#download-btn{
    background:#0b67c2;
    color:white;
    border:none;
    padding:16px 32px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

@media print{

.certificate-actions{
display:none;
}

body{
margin:0;
}

}