body{
margin:0;
display:flex;
justify-content:center;
padding:30px;
background:#f5f7fb;
}



/*===============*/

.certificate-container{
position:relative;
width:1200px;
margin:auto;
}

.certificate-template{
width:100%;
display:block;
}

#employee-name{
position:absolute;
top:337px;
left:52%;
transform:translateX(-50%);
font-size:36px;
font-weight:700;
color:#0b67c2;
margin:0;
}

#course-name{
position:absolute;
top:459px;
left:50%;
transform:translateX(-50%);
font-size:34px;
font-weight:700;
margin:0;
}

#certificate-date{
position:absolute;
top: 630px;
left:60%;
transform:translateX(-50%);
font-size:27px;
margin:0;
}


