/* ===== EMPLOYEE DASHBOARD main ===== */

.employee-layout{
display:flex;
min-height:100vh;
background:#f5f7fb;
}

.employee-sidebar{
width:260px;
background:#0b1f4d;
color:white;
padding:30px 22px;
display:flex;
flex-direction:column;

position:sticky;
top:0;
height:100vh;
overflow-y:auto;
}

.sidebar-logo{
display:flex;
align-items:center;
gap:12px;
margin-bottom:45px;
}

.sidebar-logo-img{
width:58px;
}

.sidebar-logo h3{
font-size:20px;
font-weight:600;
}

.sidebar-menu{
display:flex;
flex-direction:column;
gap:12px;
}

.sidebar-menu a{
text-decoration:none;
color:white;
padding:14px 16px;
border-radius:12px;
font-size:15px;
transition:.25s;
}

.sidebar-menu a:hover{
background:#F8CC4D;
color:#111;
}

.employee-main{
flex:1;
padding:40px;
}

.employee-header{
background:white;
padding:28px 32px;
border-radius:18px;
box-shadow:0 8px 22px rgba(0,0,0,.06);
margin-bottom:28px;
}

.employee-header h1{
font-size:34px;
margin-bottom:10px;
color:#111;
}

.employee-header p{
color:#666;
}

.employee-content{
background:white;
padding:30px;
border-radius:18px;
box-shadow:0 8px 22px rgba(0,0,0,.06);
}

.employee-content h2{
margin-bottom:14px;
color:#111;
}

.employee-course-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
gap:24px;
margin-top:28px;
}

.employee-courses-grid{
display:flex;
flex-wrap:wrap;
gap:30px;
}




.employee-course-card{
background:#f8faff;
border:1px solid rgba(13,43,107,.08);
border-radius:18px;
min-width: 200px;
width:370px;
min-height: 160px;
padding:24px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
transition:.25s;
}

.employee-course-card:hover{
transform:translateY(-5px);
box-shadow:0 12px 28px #0d2b6b29;
}

.employee-course-card h3{
font-size:20px;
color:#111;
margin-bottom:12px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
max-width:100%;
}

.employee-course-card p{
color:#666;
margin-bottom:18px;
font-size:14px;
}

.employee-course-card a{
display:inline-block;
text-decoration:none;
background:#0d2b6b;
color:white;
padding:10px 18px;
border-radius:10px;
font-size:14px;
font-weight:500;
transition:.25s;
}

.employee-course-card a:hover{
background:#F8CC4D;
color:#111;
}


.employee-catalog-card{

background:white;
border-radius:20px;
padding:18px;

box-shadow:0 8px 22px rgba(0,0,0,.05);

display:flex;
flex-direction:column;

min-height:auto;

transition:.25s;

}




.employee-catalog-card:hover{

transform:translateY(-4px);

}

.employee-catalog-card h3{

font-size:18px;
font-weight:550;
color:#111;
margin:10px 0 8px;
line-height:1.2;

}


.employee-catalog-card p{

font-size:14px;
color:#555;
margin:4px 0;

}

.employee-course-thumbnail{

width:100%;
height:180px;
object-fit:cover;

border-radius:18px;

background:#f5f7fb;

}

.view-btn,
.progress-btn,
.completed-btn{

display:inline-flex;
align-items:center;
justify-content:center;

width:90px;
height:40px;

border-radius:10px;

font-size:14px;
font-weight:550;

text-decoration:none;

margin-top:20px;

transition:.25s;

}

.view-btn{

background:#12337a;
color:white;

}

.view-btn:hover{

transform:translateY(-2px);

}



.progress-btn{

background:#fff5d9;
color:#b8860b;

}

.progress-btn:hover{

transform:translateY(-2px);

}


.completed-btn{

background:#e4f7e8;
color:#1f7a36;

}

.completed-btn:hover{

transform:translateY(-2px);

}


.active-sidebar{
background:#F8CC4D;
color:#111 !important;
font-weight:500;
}

/* MY COURSES PAGE BANNER */

.employee-banner{
background:#0b1f4d;
color:white;
padding:30px 34px;
border-radius:20px;
margin-bottom:24px;
}

.employee-banner h1{
font-size:34px;
margin-bottom:10px;
}

.employee-banner p{
font-size:15px;
opacity:.92;
}


/* FILTER + SEARCH TOOLBAR */

.employee-toolbar{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:28px;
gap:40px;

}

/* FILTER */

#course-filter{

width:230px;
padding:14px 18px;
border:none;
border-radius:14px;
background:white;
font-size:15px;
box-shadow:0 6px 18px rgba(0,0,0,.06);
outline:none;
cursor:pointer;
color:#0d2b6b;
font-weight:500;

}

#course-filter{

appearance:none;
-webkit-appearance:none;
-moz-appearance:none;

background-image:
url("data:image/svg+xml;utf8,<svg fill='%230d2b6b' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5'/></svg>");

background-repeat:no-repeat;
background-position:right 18px center;
background-size:18px;

padding-right:48px;

}

/* SEARCH BAR */

.employee-search{

position:relative;
width:420px;

}

.employee-search input{

width:100%;
height:62px;
padding:0 62px 0 22px;
border:none;
border-radius:16px;
background:white;
box-shadow:0 6px 18px rgba(0,0,0,.06);
outline:none;
font-size:15px;

}

.employee-search button{

position:absolute;
right:8px;
top:50%;
transform:translateY(-50%);
width:42px;
height:42px;
border:none;
background:transparent;
cursor:pointer;
font-size:20px;
color:#17357a;
display:flex;
align-items:center;
justify-content:center;
pointer-events:none;

}

/* LOGO TITLE LINK */

.sidebar-title-link{
text-decoration:none;
color:white;
}


/* STATUS BUTTONS */

.completed-btn{
background:#dff5e3 !important;
color:#1f7a36 !important;
}

.progress-btn{
background:#e8eefc !important;
color:#0d2b6b !important;
}


/* NOT STARTED + VIEW BUTTON */

.notstarted-text{
color:#777;
}

.view-btn{
background:white !important;
color:#0d2b6b !important;
border:1px solid #0d2b6b;
}

.view-btn:hover{
background:#0d2b6b !important;
color:white !important;
}






/* COURSE OVERVIEW CARD */

.module-overview-card{
background:white;
padding:26px 30px;
border-radius:20px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
margin-bottom:28px;
}

.module-course-info{
display:flex;
gap:40px;
flex-wrap:wrap;
}

.module-course-info p{
color:#555;
font-size:15px;
}


/* MODULE SECTION */

.module-section{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
margin-bottom:28px;
}

.module-section h2{
margin-bottom:24px;
color:#111;
}


/* MODULE CARDS */

.module-card{
background:#f8faff;
border:1px solid rgba(13,43,107,.08);
border-radius:18px;
padding:22px;
margin-bottom:18px;
transition:.25s;
}

.module-card:hover{
transform:translateY(-4px);
box-shadow:0 10px 24px rgba(13,43,107,.10);
}

.module-card h3{
font-size:18px;
margin-bottom:8px;
color:#111;
}

.module-card p{
color:#666;
margin-bottom:16px;
font-size:14px;
}

.module-card a{
display:inline-block;
text-decoration:none;
background:#0d2b6b;
color:white;
padding:10px 18px;
border-radius:10px;
font-size:14px;
transition:.25s;
}

.module-card a:hover{
background:#F8CC4D;
color:#111;
}


/* LOCKED MODULE */

.locked-module{
opacity:.7;
background:#f2f3f5;
}

.locked-module span{
display:inline-block;
background:#ddd;
padding:8px 14px;
border-radius:10px;
font-size:13px;
color:#555;
}


/* QUIZ CARD */

.quiz-preview-card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
}

.quiz-preview-card h2{
margin-bottom:10px;
color:#111;
}




.quiz-option{
display:block;
padding:14px 18px;
margin-bottom:12px;
border:1px solid #d9d9d9;
border-radius:10px;
font-size:18px;
background:#fafafa;
cursor:pointer;
}

.quiz-card{
max-width:900px;
}

.quiz-question{
font-size:32px;
font-weight:700;
margin-bottom:25px;
}

.question-badge{
display:inline-block;
padding:10px 18px;
border-radius:10px;

background:#ffffff;
border:1px solid #334155;

color:#111;
font-size:15px;
font-weight:600;

margin-bottom:30px;
}

.quiz-actions{
display:flex;
justify-content:center;
gap:15px;
margin-top:25px;
}

.quiz-actions button{
width:auto;
min-width:180px;
}

/* MODULE COMPLETE BUTTON */
/* Makes module button clickable + proper style */

#complete-btn{

background:#17357a;
color:white;
border:none;
padding:14px 30px;
border-radius:12px;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:0.3s;

}

#complete-btn:hover{

background:#f4c842;
color:#17357a;

}

#complete-btn:disabled{

opacity:0.7;
cursor:not-allowed;

}




/* LOGOUT MODAL */

.logout-modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.35);
display:none;
justify-content:center;
align-items:center;
z-index:9999;
backdrop-filter:blur(3px);
}

.logout-box{
background:white;
width:360px;
padding:28px;
border-radius:22px;
box-shadow:0 18px 40px rgba(0,0,0,.12);
text-align:center;
}

.logout-box h3{
font-size:24px;
margin-bottom:10px;
color:#111;
}

.logout-box p{
color:#666;
margin-bottom:24px;
}

.logout-actions{
display:flex;
gap:14px;
justify-content:center;
}

.logout-cancel,
.logout-confirm{
border:none;
padding:12px 24px;
border-radius:12px;
font-size:14px;
font-weight:600;
cursor:pointer;
transition:.25s;
}

.logout-cancel{
background:#edf0f5;
color:#555;
}

.logout-confirm{
background:#0d2b6b;
color:white;
}

.logout-confirm:hover{
background:#F8CC4D;
color:#111;
}

/* ===== PROFILE PAGE ===== */

.profile-card{
background:white;
padding:35px;
border-radius:20px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
}

.profile-form{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:24px;
margin-top:10px;
}

.profile-group{
display:flex;
flex-direction:column;
}

.profile-group label{
font-size:14px;
font-weight:600;
color:#0d2b6b;
margin-bottom:8px;
}

.profile-group input{
padding:14px 16px;
border:1px solid #d9dfe9;
border-radius:12px;
font-size:15px;
outline:none;
background:white;
transition:.25s;
}

.profile-group input:focus{
border-color:#0d2b6b;
}

.profile-full{
grid-column:1/-1;
}

.profile-save-btn{
margin:30px auto 0;

width:220px;
height:50px;

display:block;

background:#0d2b6b;
color:white;
border:none;
border-radius:12px;

font-size:16px;
font-weight:600;

cursor:pointer;
transition:.25s;
}

.profile-save-btn:hover{
background:#F8CC4D;
color:#111;
}

#profile-message{
margin-top:15px;
font-weight:600;
color:#0d2b6b;
}

.profile-group input{
color:#111 !important;
font-size:15px;
font-weight:500;
}



/* ===== CERTIFICATES ===== */

.certificate-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(340px,1fr));
gap:25px;
}

.certificate-card{
background:white;
border-radius:20px;
padding:25px;
box-shadow:0 8px 22px rgba(0,0,0,.05);
transition:.25s;
}

.certificate-card:hover{
transform:translateY(-4px);
}

.certificate-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.certificate-top h2{
font-size:22px;
color:#0d2b6b;
}

.certificate-top span{
background:#eaf7ed;
color:#1e8e3e;
padding:6px 12px;
border-radius:20px;
font-size:13px;
font-weight:600;
}

.certificate-body p{
margin-bottom:12px;
color:#444;
line-height:1.6;
}

.certificate-btn{
margin-top:15px;
width:100%;
background:#0d2b6b;
color:white;
border:none;
padding:13px;
border-radius:12px;
cursor:pointer;
font-weight:600;
transition:.25s;
}

.certificate-btn:hover{
background:#F8CC4D;
color:#111;
}

.empty-certificates{
background:white;
padding:40px;
border-radius:20px;
text-align:center;
}



.employee-course-thumbnail{

width:100%;
height:100px;

object-fit:cover;

border-radius:14px;
background:#f3f5f9;

}

.module-complete-section{
margin-top:30px;
padding-top:25px;
border-top:1px solid #e5e5e5;
display:flex;
justify-content:flex-end;
}

#complete-btn{
width:auto;
padding:14px 28px;
background:#0d2b6b;
color:white;
border:none;
border-radius:12px;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.25s;
}

#complete-btn:hover{
background:#F8CC4D;
color:#111;
}


.completed-module{

background:#e4f7e8 !important;
border:2px solid #1f7a36;

color:#1f7a36;

font-weight:600;

}

.completed-module{

background:#e8f7ea;
border:1px solid #b8dfc0;
color:#2e7d32;
font-weight:600;

}

.locked-module{

opacity:0.55;
cursor:not-allowed;

}






/*===========dark mode=====*/
/* ===== EMPLOYEE DARK MODE ===== */

body.dark-mode .employee-layout{
background:#0f172a;
}

body.dark-mode .employee-main{
background:#1a2332;
}

body.dark-mode .employee-banner{
background:#111827;
border:1px solid #334155;
color:white;
}


body.dark-mode .employee-sidebar{
background:#111827;
border:1px solid #334155;
}

body.dark-mode .active-sidebar{
background:rgba(248,204,77,.15);
color:#F8CC4D !important;
border:1px solid rgba(248,204,77,.4);
}

body.dark-mode .sidebar-menu a:hover{
background:rgba(248,204,77,.12);
color:#F8CC4D;
}


body.dark-mode .employee-content{
background:transparent;
box-shadow:none;
padding:0;
}

body.dark-mode .employee-content h2{
color:white;
margin-bottom:25px;
padding-bottom:15px;
border-bottom:1px solid #334155;
}


body.dark-mode .employee-course-card{
background:#273449;
border:1px solid #334155;
box-shadow:0 10px 25px rgba(0,0,0,.25);
}


body.dark-mode .employee-course-card h3{
color:white;
}

body.dark-mode .employee-course-card a{
background:#1f2937;
border:1px solid #475569;
color:white;
}

body.dark-mode .employee-course-card a:hover{
background:#F8CC4D;
color:#111827;
border-color:#F8CC4D;

}

body.dark-mode .employee-banner p,
body.dark-mode .employee-course-card p{
color:#cbd5e1;
}


body.dark-mode .employee-course-card p{
color:#d0d0d0;
}

/* ===== COURSE DETAILS DARK MODE ===== */

body.dark-mode .employee-search input{
background:#111827;
color:white;
border:1px solid #334155;
}

body.dark-mode .employee-search input::placeholder{
color:#94a3b8;
}

body.dark-mode .employee-search{
background:transparent;
}

body.dark-mode #course-filter{
background:#111827;
color:white;
border:1px solid #334155;
}

body.dark-mode .employee-catalog-card{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}

body.dark-mode .employee-catalog-card h3{
color:white;
}

body.dark-mode .employee-catalog-card p{
color:#cbd5e1;
}

body.dark-mode .view-btn,
body.dark-mode .progress-btn,
body.dark-mode .completed-btn{

background:#1f2937;
color:white;
border:1px solid #334155;

}

body.dark-mode .view-btn:hover,
body.dark-mode .progress-btn:hover,
body.dark-mode .completed-btn:hover{

background:#111827;
border-color:#475569;

}


/*===progress===*/

body.dark-mode .filter-box select{
background:#111827;
color:white;
border:1px solid #334155;
}

body.dark-mode .filter-box select option{
background:#111827;
color:white;
}

body.dark-mode #clearFilters{
background:#1f2937;
border:1px solid #334155;
color:white;
}

body.dark-mode #clearFilters:hover{
background:#111827;
border-color:#475569;
}

body.dark-mode .admin-section-card{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}


body.dark-mode .admin-progress-table{
color:white;
}

body.dark-mode .admin-progress-table th{
color:white;
}

body.dark-mode .admin-progress-table td{
color:#cbd5e1;
}

body.dark-mode .admin-progress-table tr{
border-color:#334155;
}


body.dark-mode .progress-badge.completed{
background:#111827;
color:#A3B18A;
border:1px solid rgba(248,204,77,.35);
}

body.dark-mode .progress-badge.in_progress{
background:#111827;
color:#cbd5e1;
border:1px solid #475569;
}

body.dark-mode .progress-badge.not-started{
background:#111827;
color:#94a3b8;
border:1px solid #334155;
}


body.dark-mode .admin-progress-table a{
color:#cbd5e1;
font-weight:600;
}

body.dark-mode .admin-progress-table a:hover{
color:#111827;
}

/*===certificates===*/

body.dark-mode .certificate-card{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}

body.dark-mode .certificate-top h2{
color:white;
}

body.dark-mode .certificate-top span{
background:#111827;
color:#A3B18A;
border:1px solid rgba(248,204,77,.35);
}

body.dark-mode .certificate-body p{
color:#cbd5e1;
}

body.dark-mode .certificate-body strong{
color:white;
}

body.dark-mode .certificate-btn{
background:#1f2937;
border:1px solid #334155;
color:white;
}

body.dark-mode .certificate-btn:hover{
background:#111827;
border-color:#475569;
}

body.dark-mode .empty-certificates{
background:#273449;
border:1px solid #334155;
color:white;
}


/*===profile.html===*/

body.dark-mode .profile-card{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}

body.dark-mode .profile-group label{
color:white;
}

body.dark-mode .profile-group input{
background:#111827;
border:1px solid #334155;
color:white;
}

body.dark-mode .profile-group input::placeholder{
color:#94a3b8;
}


body.dark-mode input[readonly]{
background:#0f172a;
color:#cbd5e1;
}

body.dark-mode .profile-save-btn{
background:#1f2937;
border:1px solid #334155;
color:white;
}

body.dark-mode .profile-save-btn:hover{
background:#111827;
border-color:#475569;
}

body.dark-mode #profile-message{
color:#F8CC4D;
font-weight:600;
}

body.dark-mode .profile-group input{
background:#0f172a;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .profile-group input{
color:#f8fafc !important;
}

body.dark-mode input[readonly]{
background:#111827;
color:#cbd5e1 !important;
}

body.dark-mode .profile-group input{
caret-color:#f8fafc;
}

/*===quiz-card===*/

body.dark-mode .quiz-preview-card{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}

body.dark-mode .question-badge{
background:#111827;
color:#cbd5e1;
border:1px solid #334155;
}

body.dark-mode .quiz-option{
background:#0f172a;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .quiz-option:hover{
border-color:#475569;
background:#111827;
}

body.dark-mode .quiz-actions .admin-save-btn,
body.dark-mode .quiz-actions .admin-add-btn{
background:#1e293b;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .quiz-actions .admin-save-btn:hover,
body.dark-mode .quiz-actions .admin-add-btn:hover{
background:#273449;
}

body.dark-mode .quiz-question{
color:#f8fafc;
}

body.dark-mode .question-badge{
display:inline-block;
padding:10px 18px;
border-radius:10px;

background:#111827;
border:1px solid #334155;

color:#cbd5e1;
font-size:15px;
font-weight:600;
}


body.dark-mode .completed-module{
background:#334155;
border:1px solid #475569;
color:#ffffff;
}
body.dark-mode .completed-module{
color:#ffffff !important;
}

/*=== view-btn ===*/
body.dark-mode .view-btn{
background:#1e293b;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .view-btn:hover{
background:#273449;
border-color:#475569;
color:#ffffff;
}

body.dark-mode .progress-btn,
body.dark-mode .completed-btn,
body.dark-mode .view-btn{
background:#1e293b;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .progress-btn:hover,
body.dark-mode .completed-btn:hover,
body.dark-mode .view-btn:hover{
background:#273449;
border-color:#475569;
}

body.dark-mode .module-item.completed-module{
background:#334155;
border:1px solid #475569;
color:#111 !important;
}


/* ===== POPUPS / MODALS ===== */

body.dark-mode .logout-box{
background:#273449;
border:1px solid #334155;
box-shadow:none;
}

body.dark-mode .logout-box h3{
color:#f8fafc;
}

body.dark-mode .logout-box p{
color:#cbd5e1;
}

body.dark-mode .logout-cancel{
background:#111827;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .logout-cancel:hover{
background:#1f2937;
}

body.dark-mode .logout-confirm{
background:#1f2937;
border:1px solid #334155;
color:#f8fafc;
}

body.dark-mode .logout-confirm:hover{
background:#273449;
border-color:#475569;
}

body.dark-mode .logout-modal{
background:rgba(0,0,0,.65);
backdrop-filter:blur(4px);
}